{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}-Login{% endblock %}
{% block body %}
    <form action="{{ path('login') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ dump(error) }}
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-5">
                <div class="well">
                    <fieldset>
                        <div align="center">
                            <legend><i class="fa fa-lock" aria-hidden="true"></i> Login</legend>
                        </div>
                        <div class="form-group">
                            <table>
                                <tbody>
                                <tr>
                                    <td><label for="email">Adresse Email :</label></td>
                                    <td><input type="email" id="email" name="email" value="{{ last_username }}" /></td>
                                </tr>
                                <tr>
                                    <td><label for="password">Mot de passe :</label></td>
                                    <td><input type="password" id="password" name="_password" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter
                                        </button>
                                    </td>
                                    <td><a class="btn btn-danger" href="{{ path('signup') }}">S'inscrire</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
{% endblock %}