{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(formUser) }}
    {{ form_row(formUser.username) }}
    {{ form_row(formUser.email) }}
    {{ form_row(formUser.password.first) }}
    {{ form_row(formUser.password.second) }}
    <button type="reset" class="btn btn-info">Cancel</button>
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(formUser) }}

{% endblock %}